@charset "utf-8";
/* CSS Document */


.modal-nav-content {
	position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 100%;
	height: auto;
    pointer-events: auto;
}

.menu-container {
	max-width: 962px;
}

.region-menu {
    padding: 0;
	margin: auto;
}

.menus {
	text-align: center;
}

.menus:nth-last-child(1){
	margin-bottom: 0;
}


.overlay-menu {
	padding: 0;
	margin: 0;
	-o-object-fit: contain;
	   object-fit: contain;
}

.modal-header {
	background-color: var(--gray);
	border-radius: 3px;
	margin-bottom: 20px;
}


#help-modal-title {
	color: var(--light);
    font-size: 40px;
	font-family: A1ゴシック B;
	font-weight: 800;
	letter-spacing: 6px;
}



.modal-backdrop{
	opacity: 0.9 !important;
}


.modal-title {
	font-family: A1ゴシック B;
}



.help-image {
	max-height: 300px;

	margin-bottom:30px;
}

.section {
	margin-bottom: 40px;
}

.help-p {
	font-size: 13px;
}



.help-content {
	margin: 0 30px;
}


.transparent-close {
	color: #fff;
	opacity: 1;
	float: left;
	margin : -1rem -1rem -1rem auto;
	background-color: transparent;
	border: none;
	text-shadow: 0 1px 2px #fff;
}

.modal-region-header {
	border: none;
	padding: 0 1rem 1rem 0;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 962px !important;
    }
}
@media (max-width: 320px){
	.modal-dialog{
		max-width: 314px !important;

	}
	.modal-body{
		margin: 0;
		padding: 0;
	}
	.section{
		max-width: 314px;
	}
	.help-image, .help-p{
		max-width: 280px;
	}
	#help-modal-title{
		font-size: 25px;
		letter-spacing: 3px;
	}

}
