/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
/* CSS Document */
:root{
	--main-color: #EA2027;
	--gray: #707070;
	--light:#fff;
	--column-padding: 10px 10px;
	--screen-color: #8EC3DEa9;
	--dark : #000;
	--transparent : rgb(0,0,0, 0.9);
}

ul {
    list-style-type: none;
}

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}


.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}



.lower{
	background-color: var(--light);
	height: 50%;
}




.inner-container {
	margin: auto;
	padding: 0;
}

.main {
	height: 100%;
    width: 100%;
	background-color: var(--main-color);
	background-image: url("../images/SVG/indonesia-map.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 33%;
	z-index: 0;

}

.upper {
	height: 50%;
}

.site-logo {
	height: 72px;
	filter: drop-shadow(0px 0px 6px var(--gray));
}

.hero1 {
	color: var(--gray);
	margin: 0;
	padding: 0;
	font-family: A1ゴシック B;
	font-weight: bold;
	line-height: 20px;
	font-size: 13px;
}

.button {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    cursor : pointer;
}

.scan-button {
	margin: 15px 0;
	filter: drop-shadow(0px 0px 4px var(--gray));
}


.logo-container {
	top: 20%;
	left: 50%;
	margin: 0 0 0 -125px;
}

.button-font {
	color: var(--gray);
	font-size: 12px;
	font-family: A1ゴシック B;
	font-weight: bold;
	letter-spacing: 0.05em;

}

.icons {
	margin-bottom: 10px;
	height: 32px;
}

.container-fluid {
	max-width: 962px;
}


@media screen and (orientation: landscape) and (max-width: 896px) {
	.hide-on-landscape{
		display: none;
	}
}
